<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.dendai.im.cps.citywalkersmeter" >

    <!-- 位置情報 GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 位置情報 ネットワーク -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- わからない -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <!-- インターネット -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuestionActivity1"
            android:label="@string/title_activity_question1" >
        </activity>

        <service
            android:name=".GpsService"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </service>
    </application>

</manifest>
